.research-card[data-v-25d7b81e]{animation:fadeInUp-25d7b81e .6s ease-out forwards;opacity:0}@keyframes fadeInUp-25d7b81e{0%{opacity:0;transform:translateY(30px)}to{opacity:1;transform:translateY(0)}}
