.faq-card[data-v-b8948050]{animation:fadeInDown-b8948050 .6s ease-out forwards;opacity:0}@keyframes fadeInDown-b8948050{0%{opacity:0;transform:translateY(-30px)}to{opacity:1;transform:translateY(0)}}
