.research-card[data-v-65ebc870]{animation:fadeInUp-65ebc870 .6s ease-out forwards;opacity:0}@keyframes fadeInUp-65ebc870{0%{opacity:0;transform:translateY(30px)}to{opacity:1;transform:translateY(0)}}
